<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/FallstudienNumerik/src/LK4/Wuerfeln_FenjaEhlers.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="LK4.Wuerfeln_FenjaEhlers"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="FallstudienNumerik"/>
</launchConfiguration>
